.form {
  margin: 5em auto;
  max-width: 370px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #8caae2;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #5b84d1;
}

.form-footer {
  font-size: 1em;
  padding: 1.5em 0;
  text-align: center;
}

.form-footer a {
  color: blue;
  text-decoration: none;
}
