<div class="text-center">
  <h2>Sign In</h2>
  <h3>PLEASE SIGN IN</h3>
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Input ID</mat-label>
      <input matInput placeholder="Inupt value" type="text" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Input Passowrd</mat-label>
      <input matInput placeholder="Inupt value" type="password" />
    </mat-form-field>
    <br />
    <button mat-flat-button color="primary">Sign In</button>
    <br /><br />
    <p>
      No account? <strong class="underline 2px"><a class="text-blue-700" routerLink="/accounts/create">Sign Up</a></strong>
    </p>
  </mat-card>
</div>
