<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="enter.component.css">
</head>
<body>
  <div class="form">
    <h1>PLEASE SIGN IN</h1>
    <form>
      <div class="form-item">
        <input placeholder="Input ID"></input>
      </div>
      <div class="form-item">
        <input placeholder="Input Password"></input>
      </div>
      <div class="button-panel">
        <input class="button" value="Sign In"></input>
      </div>
    </form>
    <div class="form-footer">
      <p>No account? <strong><a href="#">Sign up</a></strong></p>
    </div>
  </div>
</body>
</html>
