.mdc-button--raised:not(:disabled) {
  width: 50%;
  min-width: 200px;
  max-width: 600px;
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  height: 4.5rem;
  line-height: 4.5rem;
  color: #000000;
  background-color: #bfdbfe;
}
