<p class="font-bold">Token Market</p>
<p class="">Token Price</p>
<div class="">
  <div class="">
    <span class="">1 Token</span>
    <span class="">=</span>
    <div class="mdc-text-field mdc-text-field--outlined">
      <input [(ngModel)]="price" class="mdc-text-field__input" id="text-field-hero-input" type="number" />
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <!--<div class="mdc-notched-outline__notch">
            <label for="text-field-hero-input" class="mdc-floating-label">Input Value</label>
          </div>-->
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <span class="">JPY</span>
  </div>
  <p class="">Buy Token Amount</p>
  <div class="">
    <div class="mdc-text-field mdc-text-field--outlined">
      <input [(ngModel)]="amount" class="mdc-text-field__input" id="text-field-hero-input" type="number" value="1" />
      <div class="mdc-notched-outline">
        <div class="mdc-notched-outline__leading"></div>
        <!--<div class="mdc-notched-outline__notch">
            <label for="text-field-hero-input" class="mdc-floating-label">Input Amount</label>
          </div>-->
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
    <input [(ngModel)]="amount" class="mdc-text-field__input" id="text-field-hero-input" type="number" value="1" />
  </div>

  <p class="">Transaction Detail</p>
  <div class="">
    <div>
      <span class="">Total Price = </span>
      <span class="border rounded border-gray-400">{{ calcTotalPrice() }}</span>
      <span class="">JPY</span>
    </div>
    <div class="">
      <span class="">Total Energy = </span>
      <span class="border rounded border-gray-400">{{ calcElectricity() }}</span>
      <span class="">kWh</span>
    </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Request Purchase</button>
    </div>
    <button class="mdc-button mdc-button--raised"><span class="mdc-button__ripple"></span>Request Purchase</button>
  </div>
</div>
