<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <h2>Student Dashboard</h2>
  <mat-card class="mb-20">
    <mat-card-title>Account Balance</mat-card-title>
    <details>
    <summary>Read More</summary>
    <mat-card-content>
      <p>UPX is a token that allows you to use 1kwh of electricity from the power company.</p>
      <p>SPX is a token that allows you to use 1kwh of electricity from solar power.</p>
      <p>Every day at around 10:00 a.m., a token for the previous day's electricity usage will be debited, giving priority to the SPX.</p>
      <p>If the token is insufficient, it will be recorded as "Insufficient Balance" and used for reimbursement at the end of the month.</p>
    </mat-card-content>
    </details>
    <mat-list>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">UPX Balance:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-yellow-400">{{ balance?.amount_upx }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">SPX Balance:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-purple-800">{{ balance?.amount_spx }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Insufficient Balance:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-red-600">{{ insufficiency }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
    </mat-list>
    <div class="mt-10">
      <button mat-flat-button class="w-full" routerLink="/txs/buy" color="accent">Buy More Tokens</button>
    </div>
  </mat-card>

  <mat-card class="mb-20">
    <mat-card-title>Latest Contract Price</mat-card-title>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>Displays the latest contracted price.</p>
        <p>If there were no contract, the last transaction price with constraints will be displayed here.</p>
      </mat-card-content>
    </details>
    <mat-list>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Latest UPX Price:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-yellow-400">{{ singlePriceNormal?.price }} JPY</span>
      </mat-list-item>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Contract Amount:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-yellow-400">{{ singlePriceNormal?.amount }} UPX</span>
      </mat-list-item>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Market Date:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-yellow-400">{{ singlePriceNormalDate | date: 'yy/MM/dd' }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Latest SPX Price:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-purple-800">{{ singlePriceRenewable?.price }} JPY</span>
      </mat-list-item>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Contract Amount:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-purple-800">{{ singlePriceRenewable?.amount }} SPX</span>
      </mat-list-item>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Market Date:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-purple-800">{{ singlePriceRenewableDate | date: 'yy/MM/dd' }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="mb-20">
    <mat-card-title>This Month's Usage</mat-card-title>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>Displays the current month's electricity usage for the rooms associated with your account.</p>
        <p>It also shows the average usage of all the rooms in the student dormitories.</p>
      </mat-card-content>
    </details>
    <mat-list>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Total Usage:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-purple-800">{{ totalUsage }} kWh</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Students' Average:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-yellow-400">{{ totalUsageAverage }} kWh</span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="mb-20">
    <mat-card-title>Usage Ranking</mat-card-title>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>Displays the ranking of electricity usage.</p>
      </mat-card-content>
    </details>
    <mat-list>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl">Your Rank:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl text-purple-800">#{{ rank }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <ng-container *ngFor="let ranking of rankings">
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">{{ ranking.name }}:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ ranking.amount }}kWh</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card>

  <mat-card class="mb-20">
    <mat-card-title>Energy Sources</mat-card-title>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>Displays a breakdown of the tokens you own and the overall breakdown.</p>
      </mat-card-content>
    </details>
    <mat-card-content>Student</mat-card-content>
    <ng-container *ngIf="balanceData === null; then loading; else loadedBalance"></ng-container>
    <ng-template #loading>
      <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-template>
    <ng-template #loadedBalance>
      <canvas baseChart [data]="balanceData!" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"> </canvas>
    </ng-template>
    <mat-card-content>Total</mat-card-content>
    <ng-container *ngIf="totalBalanceData === null; then loading; else loadedTotalBalance"></ng-container>
    <ng-template #loadedTotalBalance>
      <canvas baseChart [data]="totalBalanceData!" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"> </canvas>
    </ng-template>
  </mat-card>
  <!-- <mat-card class="mb-20">
    <mat-card-title>Notifications</mat-card-title>
    <button mat-flat-button color="accent">More</button>
  </mat-card> -->
  <mat-card class="mb-20">
    <mat-card-title>Monthly Electricity Usages</mat-card-title>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>Displays monthly data on electricity usage for this year and last year.</p>
      </mat-card-content>
    </details>
    <ng-container *ngIf="usageData === null; then loading; else loadedUsage"></ng-container>
    <ng-template #loadedUsage>
      <p>kWh</p>
      <canvas
        baseChart
        [datasets]="usageData!"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </ng-template>
  </mat-card>
</div>
