<h2>Student Dashboard</h2>
<div class="w-full lg:mx-auto lg:flex lg:flex-row">
  <span class="flex-auto"></span>
  <mat-card class="mb-10">
    <mat-card-title>Account Balance</mat-card-title>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>UPX is a token that allows you to use 1kwh of electricity from the power company.</p>
        <p>SPX is a token that allows you to use 1kwh of electricity from solar power.</p>
        <p>Every day at around 10:00 a.m., a token for the previous day's electricity usage will be debited, giving priority to the SPX.</p>
        <p>
          If the token is insufficient, it will be recorded as "Insufficient Balance" and used for reimbursement at the end of the month.
        </p>
      </mat-card-content>
    </details>
    <mat-list>
      <mat-list-item class="flex flex-wrap" style="padding: auto; margin-bottom: 4px; border: 2.5px solid #6c8fb6; border-radius: 10px">
        <span class="break-all text-xl" style="color: #6c8fb6">UPX:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl" style="font-size: x-large">{{ uupxAmount | microNumber }}</span>
      </mat-list-item>
      <mat-list-item class="flex flex-wrap" style="padding: auto; margin-bottom: 4px; border: 2.5px solid #b67cb6; border-radius: 10px">
        <span class="break-all text-xl" style="color: #b67cb6">SPX:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl" style="font-size: x-large">{{ uspxAmount | microNumber }}</span>
      </mat-list-item>
      <ng-container *ngIf="insufficiencyAmount">
        <mat-list-item class="flex flex-wrap" style="padding: auto">
          <span class="break-all text-xl">Insufficient Balance:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">{{ insufficiencyAmount | microNumber }}</span>
        </mat-list-item>
      </ng-container>
      <mat-divider [inset]="true"></mat-divider>
    </mat-list>
    <div class="mt-10">
      <button mat-flat-button class="w-full" routerLink="/txs/buy" color="accent">Buy More Tokens</button>
    </div>
    <div class="hidden lg:block lg:mt-10">
      <mat-card class="mb-10">
        <mat-card-title>Energy Sources</mat-card-title>
        <details>
          <summary>Read More</summary>
          <mat-card-content>
            <p>Displays a breakdown of the tokens you own and the overall breakdown.</p>
          </mat-card-content>
        </details>
        <div class="w-auto flex flex-row">
          <div>
            <mat-card-content style="font-size: large; margin-top: 15px">Student</mat-card-content>
            <ng-container *ngIf="balanceData === null; then loading; else loadedBalance"></ng-container>
            <ng-template #loading>
              <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
            </ng-template>
            <ng-template #loadedBalance>
              <canvas
                height="150"
                width="150"
                baseChart
                [data]="balanceData!"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [colors]="doughnutColors"
              >
              </canvas>
            </ng-template>
          </div>
          <div>
            <mat-card-content style="font-size: large; margin-top: 15px">Total</mat-card-content>
            <ng-container *ngIf="totalBalanceData === null; then loading; else loadedTotalBalance"></ng-container>
            <ng-template #loadedTotalBalance>
              <canvas
                height="150"
                width="150"
                baseChart
                [data]="totalBalanceData!"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [colors]="doughnutColors"
              >
              </canvas>
            </ng-template>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-card>

  <span class="flex-auto"></span>

  <mat-card class="mb-10">
    <mat-card-title>Latest Contract Price</mat-card-title>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>Displays the latest contracted price.</p>
        <p>If there were no contract, the last transaction price with constraints will be displayed here.</p>
      </mat-card-content>
    </details>
    <mat-list>
      <mat-card class="flex flex-wrap" style="padding: 0px; margin-bottom: 10px; border: 2.5px solid #6c8fb6; border-radius: 10px">
        <mat-list-item>
          <span class="break-all text-xl" style="color: #6c8fb6">UPX</span>
        </mat-list-item>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all text-xl" style="font-size: medium">Latest UPX Price:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">{{ normalSettlement?.price_ujpy | microString }}</span>
          <span class="break-all text-xl" style="margin-left: 10px; font-size: small">JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all text-xl" style="font-size: medium">Contract Amount:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">{{ normalSettlement?.amount_uupx | microString }}</span>
          <span class="break-all text-xl" style="margin-left: 10px; font-size: small">UPX</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all text-xl" style="font-size: medium">Market Date:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">{{ normalDate | date: 'yy/MM/dd' }}</span>
        </mat-list-item>
      </mat-card>
      <mat-card class="flex flex-wrap" style="padding: 0px; border: 2.5px solid #b67cb6; border-radius: 10px">
        <mat-list-item>
          <span class="break-all text-xl" style="color: #b67cb6">SPX</span>
        </mat-list-item>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all text-xl" style="font-size: medium">Latest SPX Price:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">{{ renewableSettlement?.price_ujpy | microString }}</span>
          <span class="break-all text-xl" style="margin-left: 10px; font-size: small">JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all text-xl" style="font-size: medium">Contract Amount:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">{{ renewableSettlement?.amount_uspx | microString }}</span>
          <span class="break-all text-xl" style="margin-left: 10px; font-size: small">SPX</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all text-xl" style="font-size: medium">Market Date:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">{{ renewableDate | date: 'yy/MM/dd' }}</span>
        </mat-list-item>
      </mat-card>
      <div class="mt-10 lg:hidden">
        <button mat-flat-button class="w-full" color="accent" routerLink="/dashboard/charts">Contract Price & Amount Charts</button>
      </div>
      <div class="mt-5 lg:hidden">
        <button mat-flat-button class="w-full" color="accent" routerLink="/dashboard/reference">Electricity Price Reference</button>
      </div>
    </mat-list>
  </mat-card>

  <span class="flex-auto"></span>
  <div class="hidden lg:block xl:mr-20">
    <mat-card class="mb-10">
      <mat-card-title class="mb-10">Contract Price & Amount Charts</mat-card-title>
      <mat-card-content style="font-size: large; margin-top: 60px; margin-bottom: 40px">UPX Contract Price and Amount</mat-card-content>
      <ng-container *ngIf="normalChartDataSets === null; then loading; else loadedNormal"></ng-container>
      <ng-template #loadedNormal>
        <canvas
          baseChart
          [datasets]="normalChartDataSets!"
          [labels]="normalChartDates!"
          [options]="normalChartOptions!"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
        <mat-card-content style="font-size: large; margin-top: 60px; margin-bottom: 40px">SPX Contract Price and Amount</mat-card-content>
        <ng-container *ngIf="renewableChartDataSets === null; then loading; else loadedRenewable"></ng-container>
        <ng-template #loadedRenewable>
          <canvas
            baseChart
            [datasets]="renewableChartDataSets!"
            [labels]="renewableChartDates!"
            [options]="renewableChartOptions!"
            [legend]="barChartLegend"
            [chartType]="barChartType"
          >
          </canvas>
        </ng-template>
      </ng-template>
    </mat-card>
  </div>
  <span class="mb-10"></span>
</div>

<div class="w-full lg:mx-auto lg:mt-10 lg:flex lg:flex-row">
  <span class="flex-auto"></span>
  <div class="hidden lg:block w-2/3">
    <mat-card class="mb-10">
      <mat-card-title> Electricity Price Reference</mat-card-title>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="w-full mb-5">
          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="classification">
            <th mat-header-cell *matHeaderCellDef>Classification</th>
            <td mat-cell *matCellDef="let element">{{ element.classification }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="usage">
            <th mat-header-cell *matHeaderCellDef>Electricity Usage</th>
            <td mat-cell *matCellDef="let element">{{ element.usage }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>Unit</th>
            <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="charge">
            <th mat-header-cell *matHeaderCellDef>Unit Charge (in JPY)</th>
            <td mat-cell *matCellDef="let element">{{ element.charge }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <p>
          In addition to these, you have to pay fuel regulatory costs and renewable energy surcharge. So, the average price of electricity
          for end users is approximately <b>&yen;27/kWh</b>.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <span class="flex-auto"></span>

  <mat-card class="mb-10">
    <mat-card-title>System Operation Status</mat-card-title>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>Displays the system operation</p>
      </mat-card-content>
    </details>
    <mat-card-content style="font-size: large; margin-top: 15px">System Operation</mat-card-content>
    <ng-container *ngIf="normalOperationBids === null; then loading; else loadedNormalBid"></ng-container>
    <ng-template #loadedNormalBid>
      <ng-container *ngIf="normalOperationBids?.length">
        <mat-list>
          <mat-card class="flex flex-wrap" style="padding: 0px; margin-bottom: 10px; border: 2.5px solid #6c8fb6; border-radius: 10px">
            <ng-container *ngFor="let normalOperationBid of normalOperationBids">
              <mat-list-item class="flex flex-wrap">
                <span class="break-all text-xl" style="font-size: medium">UPX Bid Price:</span>
                <span class="flex-auto break-all"></span>
                <span class="break-all text-xl" style="font-size: x-large">{{ normalOperationBid?.price_ujpy | microString }}</span>
                <span class="break-all text-xl" style="margin-left: 10px; font-size: small">JPY</span>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
              <mat-list-item class="flex flex-wrap">
                <span class="break-all text-xl" style="font-size: medium">UPX Bid Amount:</span>
                <span class="flex-auto break-all"></span>
                <span class="break-all text-xl" style="font-size: x-large">{{ normalOperationBid?.amount_uupx | microString }}</span>
                <span class="break-all text-xl" style="margin-left: 10px; font-size: small">UPX</span>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
            </ng-container>
          </mat-card>
        </mat-list>
      </ng-container>
    </ng-template>

    <ng-container *ngIf="normalOperationAsks === null; then loading; else loadedNormalAsk"></ng-container>
    <ng-template #loadedNormalAsk>
      <ng-container *ngIf="normalOperationAsks">
        <mat-list>
          <mat-card class="flex flex-wrap" style="padding: 0px; margin-bottom: 10px; border: 2.5px solid #6c8fb6; border-radius: 10px">
            <ng-container *ngFor="let normalOperationAsk of normalOperationAsks">
              <mat-list-item class="flex flex-wrap">
                <span class="break-all text-xl" style="font-size: medium">UPX Ask Price:</span>
                <span class="flex-auto break-all"></span>
                <span class="break-all text-xl" style="font-size: x-large">{{ normalOperationAsk.price_ujpy | microString }}</span>
                <span class="break-all text-xl" style="margin-left: 10px; font-size: small">JPY</span>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
              <mat-list-item class="flex flex-wrap">
                <span class="break-all text-xl" style="font-size: medium">UPX Ask Amount:</span>
                <span class="flex-auto break-all"></span>
                <span class="break-all text-xl" style="font-size: x-large">{{ normalOperationAsk.amount_uupx | microString }}</span>
                <span class="break-all text-xl" style="margin-left: 10px; font-size: small">UPX</span>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
            </ng-container>
          </mat-card>
        </mat-list>
      </ng-container>
    </ng-template>

    <ng-container *ngIf="renewableOperationAsks === null; then loading; else loadedrenewableAsk"></ng-container>
    <ng-template #loadedrenewableAsk>
      <ng-container *ngIf="renewableOperationAsks?.length">
        <mat-list>
          <mat-card class="flex flex-wrap" style="padding: 0px; border: 2.5px solid #b67cb6; border-radius: 10px">
            <ng-container *ngFor="let renewableOperationAsk of renewableOperationAsks">
              <mat-list-item class="flex flex-wrap">
                <span class="break-all text-xl" style="font-size: medium">SPX Ask Price:</span>
                <span class="flex-auto break-all"></span>
                <span class="break-all text-xl" style="font-size: x-large">{{ renewableOperationAsk.price_ujpy | microString }}</span>
                <span class="break-all text-xl" style="margin-left: 10px; font-size: small">JPY</span>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
              <mat-list-item class="flex flex-wrap">
                <span class="break-all">SPX Ask Amount:</span>
                <span class="flex-auto break-all"></span>
                <span class="break-all text-xl" style="font-size: x-large">{{ renewableOperationAsk.amount_uspx | microString }}</span>
                <span class="break-all text-xl" style="margin-left: 10px; font-size: small">SPX</span>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
            </ng-container>
          </mat-card>
        </mat-list>
      </ng-container>
    </ng-template>
  </mat-card>

  <span class="flex-auto"></span>
</div>

<div class="w-full lg:mx-auto lg:mt-10 lg:flex lg:flex-wrap">
  <span class="flex-auto"></span>
  <mat-card class="mb-10">
    <mat-card-title>Next withdrawal</mat-card-title>
    <details>
      <summary>Read More</summary>
      <mat-card-content>
        <p>
          The actual electricity usage for a given day is reflected in EDISON around 10:00 the next day, and the token is further debited at
          9:00 the following day.
        </p>
        <p>
          Priority is given to SPX, and if the total balance of SPX & UPX is insufficient, it will be recorded as "Insufficient Balance".
        </p>
      </mat-card-content>
    </details>
    <mat-list>
      <mat-card class="flex flex-wrap" style="padding: 0px; border: 2.5px solid black">
        <mat-list-item class="flex flex-wrap">
          <span class="break-all text-xl" style="font-size: medium">Latest Usage:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">{{ latestUsage?.amount_kwh_str }}</span>
          <span class="break-all text-xl" style="margin-left: 10px; font-size: small">kWh</span>
        </mat-list-item>
      </mat-card>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl" style="font-size: medium">Room ID:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl" style="font-size: x-large">{{ latestUsage?.room_id }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all text-xl" style="font-size: medium">Scheduled date of withdrawal:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all text-xl" style="font-size: x-large">{{ withdrawDate?.toLocaleDateString() }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <span class="flex-auto"></span>

  <mat-card class="mb-10 lg:w-2/5">
    <mat-card-title>Usage Ranking</mat-card-title>
    <mat-card-content>
      <p>Displays the ranking of electricity usage.</p>
    </mat-card-content>
    <mat-list>
      <mat-card class="flex flex-wrap" style="padding: 0px; border: 2.5px solid black">
        <mat-list-item class="flex flex-wrap">
          <span class="break-all text-xl" style="font-size: medium">Your Rank:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">#{{ rank }}</span>
        </mat-list-item>
      </mat-card>
    </mat-list>
    <div class="mt-10">
      <button mat-flat-button class="w-full" color="accent" routerLink="/dashboard/rankings">Usage Rankings Detail</button>
    </div>

    <div class="mt-5">
      <mat-card-title>Usage Ranking</mat-card-title>
      <mat-card-content>
        <p>Displays the ranking of electricity usage.</p>
      </mat-card-content>
      <mat-list>
        <mat-card class="flex flex-wrap" style="padding: 0px; border: 2.5px solid black">
          <mat-list-item class="flex flex-wrap">
            <span class="break-all text-xl" style="font-size: medium">Your Rank:</span>
            <span class="flex-auto break-all"></span>
            <span class="break-all text-xl" style="font-size: x-large">#{{ rank }}</span>
          </mat-list-item>
        </mat-card>
      </mat-list>
      <div class="mt-10">
        <button mat-flat-button class="w-full" color="accent" routerLink="/dashboard/rankings">Usage Rankings Detail</button>
      </div>
    </div>
  </mat-card>

  <span class="flex-auto"></span>
</div>

<div>
  <div class="w-full lg:mx-auto lg:mt-10 lg:flex">
    <span class="flex-auto"></span>
    <mat-card class="mb-10 lg:w-2/5">
      <mat-card-title>This Month's Usage</mat-card-title>
      <details>
        <summary>Read More</summary>
        <mat-card-content>
          <p>Displays the current month's electricity usage for the rooms associated with your account.</p>
          <p>It also shows the average usage of all the rooms in the student dormitories.</p>
        </mat-card-content>
      </details>
      <mat-list>
        <mat-card class="flex flex-wrap" style="padding: 0px; border: 2.5px solid black">
          <mat-list-item class="flex flex-wrap">
            <span class="break-all text-xl" style="font-size: medium">Total Usage:</span>
            <span class="flex-auto break-all"></span>
            <span class="break-all text-xl" style="font-size: x-large">{{ totalUsage }}</span>
            <span class="break-all text-xl" style="margin-left: 10px; font-size: small">kWh</span>
          </mat-list-item>
        </mat-card>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all text-xl" style="font-size: medium">Students' Average:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-xl" style="font-size: x-large">{{ totalUsageAverage }}</span>
          <span class="break-all text-xl" style="margin-left: 10px; font-size: small">kWh</span>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <span class="flex-auto"></span>

    <!-- <mat-card class="mb-10">
    <mat-card-title>Notifications</mat-card-title>
    <button mat-flat-button color="accent">More</button>
  </mat-card> -->

    <mat-card class="mb-10 lg:w-2/5">
      <mat-card-title>Monthly Electricity Usages</mat-card-title>
      <details>
        <summary>Read More</summary>
        <mat-card-content>
          <p>Displays monthly data on electricity usage for this year and last year.</p>
        </mat-card-content>
      </details>
      <ng-container *ngIf="usageData === null; then loading; else loadedUsage"></ng-container>
      <ng-template #loadedUsage>
        <p>kWh</p>
        <canvas
          baseChart
          [datasets]="usageData!"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="barColors"
        >
        </canvas>
      </ng-template>
    </mat-card>

    <span class="flex-auto"></span>
  </div>
</div>
