<view-sell
  [studentAccount]="studentAccount$ | async"
  [balance]="balance$ | async"
  [insufficiency]="insufficiency$ | async"
  [singlePriceNormal]="singlePriceNormal$ | async"
  [singlePriceNormalDate]="singlePriceNormalDate$ | async"
  [singlePriceRenewable]="singlePriceRenewable$ | async"
  [singlePriceRenewableDate]="singlePriceRenewableDate$ | async"
  [amountUPX]="amountUPX$ | async"
  [amountSPX]="amountSPX$ | async"
  [amountInsufficiency]="amountInsufficiency$ | async"
  [price]="price"
  [amount]="amount"
  [denom]="denom"
  (appSubmit)="onSubmit($event)"
></view-sell>
