<view-dashboard
  [students]="students$ | async"
  [totalBalanceData]="totalBalanceData$ | async"
  [totalUsageData]="totalUsageData$ | async"
  [rankings]="rankings$ | async"
  [normalAsks]="normalAsks$ | async"
  [normalBids]="normalBids$ | async"
  [renewableAsks]="renewableAsks$ | async"
  [renewableBids]="renewableBids$ | async"
  [singlePriceNormal]="singlePriceNormal$ | async"
  [singlePriceNormalDate]="singlePriceNormalDate$ | async"
  [singlePriceRenewable]="singlePriceRenewable$ | async"
  [singlePriceRenewableDate]="singlePriceRenewableDate$ | async"
  (appDownloadBalances)="onDownloadBalances()"
  (appDownloadOrders)="onDownloadOrders($event)"
  (appDownloadUserUsages)="onDownloadUserUsages($event)"
  (appDownloadMonthlyUsages)="onDownloadMonthlyUsages($event)"
  (appDownloadNormalBids)="onDownloadNormalBids($event)"
  (appDownloadNormalAsks)="onDownloadNormalAsks($event)"
  (appDownloadRenewableBids)="onDownloadRenewableBids($event)"
  (appDownloadRenewableAsks)="onDownloadRenewableAsks($event)"
  (appDownloadUsages)="onDownloadUsages($event)"
  (appDownloadPayments)="onDownloadPayments($event)"
></view-dashboard>
