<view-dashboard
  [balances]="balances$ | async"
  [totalBalanceData]="totalBalanceData$ | async"
  [totalUsage]="totalUsage$ | async"
  [totalUsageData]="totalUsageData$ | async"
  [rankings]="rankings$ | async"
  [normalAsks]="normalAsks$ | async"
  [normalBids]="normalBids$ | async"
  [renewableAsks]="renewableAsks$ | async"
  [renewableBids]="renewableBids$ | async"
  [orders]="orders$ | async"
  [singlePriceNormal]="singlePriceNormal$ | async"
  [singlePriceNormalDate]="singlePriceNormalDate$ | async"
  [singlePriceRenewable]="singlePriceRenewable$ | async"
  [singlePriceRenewableDate]="singlePriceRenewableDate$ | async"
  [normalBidHistories]="normalBidHistories$ | async"
  [normalAskHistories]="normalAskHistories$ | async"
  [renewableBidHistories]="renewableBidHistories$ | async"
  [renewableAskHistories]="renewableAskHistories$ | async"
  (appDownloadBalances)="onDownloadBalances($event)"
  (appDownloadOrders)="onDownloadOrders($event)"
  (appDownloadUserUsages)="onDownloadUserUsages($event)"
  (appDownloadMonthlyUsages)="onDownloadMonthlyUsages($event)"
  (appDownloadNormalBids)="onDownloadNormalBids($event)"
  (appDownloadNormalAsks)="onDownloadNormalAsks($event)"
  (appDownloadRenewableBids)="onDownloadRenewableBids($event)"
  (appDownloadRenewableAsks)="onDownloadRenewableAsks($event)"
></view-dashboard>
