<view-dashboard
  [balances]="balances$ | async"
  [totalBalanceData]="totalBalanceData$ | async"
  [totalUsageThisYear]="totalUsageThisYear$ | async"
  [totalUsageLastYear]="totalUsageLastYear$ | async"
  [totalUsageData]="totalUsageData$ | async"
  [rankings]="rankings$ | async"
  [normalAsks]="normalAsks$ | async"
  [normalBids]="normalBids$ | async"
  [renewableAsks]="renewableAsks$ | async"
  [renewableBids]="renewableBids$ | async"
  [singlePriceNormal]="singlePriceNormal$ | async"
  [singlePriceNormalDate]="singlePriceNormalDate$ | async"
  [singlePriceRenewable]="singlePriceRenewable$ | async"
  [singlePriceRenewableDate]="singlePriceRenewableDate$ | async"
  (appDownloadBalances)="onDownloadBalances($event)"
  (appDownloadOrders)="onDownloadOrders($event)"
  (appDownloadUserUsages)="onDownloadUserUsages($event)"
  (appDownloadMonthlyUsages)="onDownloadMonthlyUsages($event)"
></view-dashboard>
