<view-buy
  [studentAccount]="studentAccount$ | async"
  [uupxAmount]="uupxAmount$ | async"
  [uspxAmount]="uspxAmount$ | async"
  [insufficiencyAmount]="insufficiencyAmount$ | async"
  [singlePriceNormal]="singlePriceNormal$ | async"
  [singlePriceNormalDate]="singlePriceNormalDate$ | async"
  [singlePriceRenewable]="singlePriceRenewable$ | async"
  [singlePriceRenewableDate]="singlePriceRenewableDate$ | async"
  [normalGraphPrices]="normalGraphPrices$ | async"
  [normalGraphAmounts]="normalGraphAmounts$ | async"
  [renewableGraphPrices]="renewableGraphPrices$ | async"
  [renewableGraphAmounts]="renewableGraphAmounts$ | async"
  [price]="price"
  [amount]="amount"
  [denom]="denom"
  (appSubmit)="onSubmit($event)"
></view-buy>
