<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <h2>Token Issuance Setting</h2>
  <mat-card class="mb-10">
    <mat-card-title>Next Issue UPX Price</mat-card-title>
    <mat-card-content>
      <p>If the amount is not specified, the system will automatically supply the missing tokens.</p>
      <p>The amount setting will only be applied to the next issue, and the price will automatically increase by 0.1 JPY daily.</p>
    </mat-card-content>
    <ng-container *ngIf="normalSetting === null; then loading; else loadedNormal"></ng-container>
    <ng-template #loading>
      <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-template>
    <ng-template #loadedNormal>
      <mat-list>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">UPX Price:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ normalSetting?.price_ujpy | microString }} JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">UPX amount:</span>
          <span class="flex-auto break-all"></span>
          <ng-container *ngIf="!normalSetting?.ratio_percentage; then emptyNormal; else existNormal"></ng-container>
          <ng-template #emptyNormal><span class="break-all">100 %</span></ng-template>
          <ng-template #existNormal>
            <span class="break-all">{{ normalSetting?.ratio_percentage }} %</span>
          </ng-template>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Enable:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ normalSetting?.enable }}</span>
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-card>

  <form (submit)="onSubmitNormal(priceNormalRef.value, ratioNormalRef.value)">
    <mat-card class="mb-10">
      <mat-card-title>Change UPX Setting</mat-card-title>
      <mat-list>
        <mat-list-item style="height: auto" class="flex flex-wrap">
          <span class="break-all">Price:</span>
          <span class="flex-auto break-all"></span>
          <mat-form-field class="break-all">
            <mat-label>Input Number</mat-label>
            <input #priceNormalRef matInput type="number" name="price" required />
          </mat-form-field>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item style="height: auto" class="flex flex-wrap">
          <span class="break-all">Ratio:</span>
          <span class="flex-auto break-all"></span>
          <mat-form-field class="break-all">
            <mat-label>Input Int Percentage</mat-label>
            <input #ratioNormalRef matInput type="number" name="ratio" />
          </mat-form-field>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
      <div class="text-center mt-10">
        <mat-checkbox color="primary" [(ngModel)]="checked" name="check">Enable</mat-checkbox>
      </div>
      <div class="text-center mt-5">
        <button mat-flat-button color="accent">Submit</button>
      </div>
    </mat-card>
  </form>

  <mat-card class="mt-20 mb-10">
    <mat-card-title>Next Issue SPX Price</mat-card-title>
    <mat-card-content>
      <p>Both the amount and the price need to be entered.</p>
      <p>The same amount will be issued until the next change, and the price will automatically increase by 0.1 JPY daily.</p>
    </mat-card-content>
    <ng-container *ngIf="renewableSetting === null; then loading; else loadedRenewable"></ng-container>
    <ng-template #loadedRenewable>
      <mat-list>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">SPX Price:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ renewableSetting?.price_ujpy | microString }} JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">SPX amount:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ renewableSetting?.amount_uspx | microString }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </ng-template>
  </mat-card>

  <form (submit)="onSubmitRenewable(priceRenewableRef.value, amountRenewableRef.value)">
    <mat-card class="mb-10">
      <mat-card-title>Change SPX Setting</mat-card-title>
      <mat-list>
        <mat-list-item style="height: auto" class="flex flex-wrap">
          <span class="break-all">Price:</span>
          <span class="flex-auto break-all"></span>
          <mat-form-field class="break-all">
            <mat-label>Input Number</mat-label>
            <input #priceRenewableRef matInput type="number" name="price" required />
          </mat-form-field>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item style="height: auto" class="flex flex-wrap">
          <span class="break-all">amount:</span>
          <span class="flex-auto break-all"></span>
          <mat-form-field class="break-all">
            <mat-label>Input Number</mat-label>
            <input #amountRenewableRef matInput type="number" name="amount" required />
          </mat-form-field>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
      <div class="text-center mt-10">
        <button mat-flat-button color="primary">Submit</button>
      </div>
    </mat-card>
  </form>

  <mat-card class="mt-20 mb-10">
    <mat-card-title>System Cost Settings</mat-card-title>
    <mat-card-content>
      <p>
        Set the cost of the EDISON system to be used for month-end reimbursement and the electricity rate the university will pay to the
        power company.
      </p>
    </mat-card-content>
    <ng-container *ngIf="costSetting === null; then loading; else loadedCost"></ng-container>
    <ng-template #loadedCost>
      <mat-list>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">EDISON System Cost:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ costSetting?.system_cost_ujpy | microString }} JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Electricity Cost:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ costSetting?.electricity_cost_ujpy | microString }} JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </ng-template>
  </mat-card>

  <form (submit)="onSubmitCost(systemRef.value, electricityRef.value)">
    <mat-card class="mb-10">
      <mat-card-title>Change Cost Settings</mat-card-title>
      <mat-list>
        <mat-list-item style="height: auto" class="flex flex-wrap">
          <span class="break-all">System Cost Price:</span>
          <span class="flex-auto break-all"></span>
          <mat-form-field class="break-all">
            <mat-label>Input Number</mat-label>
            <input #systemRef matInput type="number" name="system" required />
          </mat-form-field>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item style="height: auto" class="flex flex-wrap">
          <span class="break-all">Electricity Cost Price:</span>
          <span class="flex-auto break-all"></span>
          <mat-form-field class="break-all">
            <mat-label>Input Number</mat-label>
            <input #electricityRef matInput type="number" name="electricity" required />
          </mat-form-field>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
      <div class="text-center mt-10">
        <button mat-flat-button color="accent">Submit</button>
      </div>
    </mat-card>
  </form>
</div>
