<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <mat-card class="mb-10">
    <mat-card-title>XRP Ledger Info</mat-card-title>
    <mat-nav-list>
      <ng-container *ngIf="adminAccount === null; then loading; else loadedAdmin"></ng-container>
      <ng-template #loading>
        <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-template>
      <ng-template #loadedAdmin>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Display Name:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ adminAccount?.name }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">XRP Address:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ adminAccount?.id }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-template>
    </mat-nav-list>
  </mat-card>

  <mat-card class="mb-10">
    <mat-card-title>EDISON Token Hot Wallet Balance</mat-card-title>
    <ng-container *ngIf="trustLineHot === null; then loading; else loadedHotBalance"></ng-container>
    <ng-template #loadedHotBalance>
      <mat-list>
        <ng-container *ngFor="let line of trustLineHot?.result?.lines">
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item class="flex flex-wrap">
            <span class="break-all">{{ line?.currency }} Amount:</span>
            <span class="flex-auto break-all"></span>
            <span class="break-all">{{ line?.balance }}</span>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item class="flex flex-wrap">
            <span class="break-all">{{ line?.currency }} Issuer:</span>
            <span class="flex-auto break-all"></span>
            <span class="break-all">{{ line?.account }}</span>
          </mat-list-item>
        </ng-container>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Validated:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">
            <ng-container *ngIf="!trustLineHot?.result?.validated; then empty; else exist"></ng-container>
            <ng-template #exist>
              <mat-chip-list>
                <mat-chip color="primary" selected>Yes</mat-chip>
              </mat-chip-list>
            </ng-template>
            <ng-template #empty>
              <mat-chip-list>
                <mat-chip color="warn" selected>No</mat-chip>
              </mat-chip-list>
            </ng-template>
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </ng-template>
  </mat-card>
  <p>{{ trustLineCold?.result }}</p>
  <mat-card class="mb-10">
    <mat-card-title>EDISON Token Cold Wallet Balance</mat-card-title>
    <ng-container *ngIf="trustLineCold === null; then loading; else loadedColdBalance"></ng-container>
    <ng-template #loadedColdBalance>
      <mat-list>
        <ng-container *ngFor="let line of trustLineCold?.result?.lines">
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item class="flex flex-wrap">
            <span class="break-all">{{ line?.currency }} Amount:</span>
            <span class="flex-auto break-all"></span>
            <span class="break-all">{{ line?.balance }}</span>
          </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item class="flex flex-wrap">
            <span class="break-all">{{ line?.currency }} Issuer:</span>
            <span class="flex-auto break-all"></span>
            <span class="break-all">{{ line?.account }}</span>
          </mat-list-item>
        </ng-container>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Validated:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">
            <ng-container *ngIf="!trustLineCold?.result?.lines; then empty; else exist"></ng-container>
            <ng-template #exist>
              <mat-chip-list>
                <mat-chip color="primary" selected>Yes</mat-chip>
              </mat-chip-list>
            </ng-template>
            <ng-template #empty>
              <mat-chip-list>
                <mat-chip color="warn" selected>No</mat-chip>
              </mat-chip-list>
            </ng-template>
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </ng-template>
  </mat-card>

  <mat-card class="mb-10">
    <mat-card-title>XRP Hot Wallet Balance</mat-card-title>
    <ng-container *ngIf="xrpLedgerHot === null; then loading; else loadedHotXRP"></ng-container>
    <ng-template #loadedHotXRP>
      <mat-list>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">XRP Amount:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ calcMicroAmount(xrpLedgerHot?.result?.account_data?.Balance) }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Validated:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">
            <ng-container *ngIf="!xrpLedgerHot?.result?.validated; then empty; else exist"></ng-container>
            <ng-template #exist>
              <mat-chip-list>
                <mat-chip color="primary" selected>Yes</mat-chip>
              </mat-chip-list>
            </ng-template>
            <ng-template #empty>
              <mat-chip-list>
                <mat-chip color="warn" selected>No</mat-chip>
              </mat-chip-list>
            </ng-template>
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </ng-template>
  </mat-card>

  <mat-card class="mb-10">
    <mat-card-title>XRP Cold Wallet Balance</mat-card-title>
    <ng-container *ngIf="xrpLedgerCold === null; then loading; else loadedColdXRP"></ng-container>
    <ng-template #loadedColdXRP>
      <mat-list>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">XRP Amount:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ calcMicroAmount(xrpLedgerCold?.result?.account_data?.Balance) }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Validated:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">
            <ng-container *ngIf="!xrpLedgerCold?.result?.validated; then empty; else exist"></ng-container>
            <ng-template #exist>
              <mat-chip-list>
                <mat-chip color="primary" selected>Yes</mat-chip>
              </mat-chip-list>
            </ng-template>
            <ng-template #empty>
              <mat-chip-list>
                <mat-chip color="warn" selected>No</mat-chip>
              </mat-chip-list>
            </ng-template>
          </span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list>
    </ng-template>
  </mat-card>
</div>
