<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <mat-card>
    <mat-card-title>Bid History Detail</mat-card-title>
    <mat-list>
      <ng-container *ngIf="!normalBid; then primary; else loaded"></ng-container>
      <ng-template #loaded>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Bid ID:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ normalBid?.id }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Energy Type:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">Utility Power</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Price:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ normalBid?.price_ujpy | microString }} JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Contract Price:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ normalBid?.contract_price_ujpy | microString }}JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Amount:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ normalBid?.amount_uupx | microString }}kWh</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Transaction Status:</span>
          <span class="flex-auto break-all"></span>
          <ng-container *ngIf="normalBid?.is_accepted === true; then accept; else reject"></ng-container>
          <ng-template #accept>
            <mat-chip-list class="break-all">
              <mat-chip color="primary" selected>Accepted</mat-chip>
            </mat-chip-list>
          </ng-template>
          <ng-template #reject>
            <mat-chip-list class="break-all">
              <mat-chip color="warn" selected>Rejected</mat-chip>
            </mat-chip-list>
          </ng-template>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Order Timestamp:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ bidCreatedAt?.toLocaleString() }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Market Timestamp:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ createdAt?.toLocaleString() }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-template>

      <ng-template #primary>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Bid ID:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ primaryBid?.id }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Tx Type:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">Primary Transaction</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Energy Type:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">Utility Power</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Price:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ primaryBid?.price_ujpy | microString }} JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Contract Price:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ normalBid?.contract_price_ujpy | microString }}JPY</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Amount:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ primaryBid?.amount_uupx | microString }}kWh</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Issue Timestamp:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ createdAtPrimary?.toLocaleString() }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-template>
    </mat-list>
  </mat-card>
</div>
