<h2>Sign Up</h2>
<p class="">SIGN UP ACCOUNT</p>
<div class="flex">
  <form class="flex-1">
    <mat-form-field appearance="fill" class="flex-auto w-2/5 break-all">
      <mat-label>Input Name</mat-label>
      <input matInput placeholder="Inupt value" type="text" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="flex-auto w-2/5 break-all">
      <mat-label>Input Email</mat-label>
      <input matInput placeholder="Inupt value" type="text" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="flex-auto w-2/5 break-all">
      <mat-label>Input ID</mat-label>
      <input matInput placeholder="Inupt value" type="text" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="flex-auto w-2/5 break-all">
      <mat-label>Input Passowrd</mat-label>
      <input matInput placeholder="Inupt value" type="password" />
    </mat-form-field>
    <br />
    <mat-radio-group>
      <mat-radio-button class="example-margin" value="student">Student</mat-radio-button>
      <br />
      <mat-radio-button class="example-margin" value="administrator">Administrator</mat-radio-button>
    </mat-radio-group>
    <br />
    <button mat-flat-button color="primary">Sign In</button>
  </form>

  <div class="flex-1">
    <img class="w-2/5" src="assets/img/create-electlicity.jpg" />
    <p>1つのアカウントで電力をリップルのトークンとして取引できたり、<br />使った電気の量がわかります。</p>
  </div>
</div>
