<div class="flex flex-col w-96">
  <h2>Sign Up</h2>
  <h3>SIGN UP ACCOUNT</h3>
  <form #formRef="ngForm" (submit)="onSubmit(nameRef.value, mailRef.value, passwordRef.value, passwordConfirmationRef.value)">
    <mat-form-field class="w-full">
      <mat-label>Input Name</mat-label>
      <input #nameRef ngModel name="name" matInput required placeholder="Input value" minlength="4" />
    </mat-form-field>
    <br />
    <mat-form-field class="w-full">
      <mat-label>Input Email</mat-label>
      <input
        #mailRef
        ngModel
        name="mail"
        matInput
        required
        placeholder="Input value"
        pattern="^[a-zA-Z0-9_+-]+(.[a-zA-Z0-9_+-]+)*@([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]*\.)+[a-zA-Z]{2,}$"
      />
    </mat-form-field>
    <br />
    <mat-form-field class="w-full">
      <mat-label>Input Password</mat-label>
      <input
        #passwordRef
        ngModel
        [type]="isPasswordVisible ? 'text' : 'password'"
        name="password"
        matInput
        required
        placeholder="Input value"
        minlength="8"
      />
      <button mat-button type="button" matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>
          {{ isPasswordVisible ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </button>
    </mat-form-field>
    <br />
    <mat-form-field class="w-full">
      <mat-label>Input Password Again</mat-label>
      <input
        #passwordConfirmationRef
        ngModel
        [type]="isPasswordVisible ? 'text' : 'password'"
        name="passwordConfirmation"
        matInput
        required
        placeholder="Input value"
        minlength="8"
      />
      <button mat-button type="button" matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>
          {{ isPasswordVisible ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </button>
    </mat-form-field>
    <div class="flex flex-row">
      <span class="flex-auto"> </span>
      <br />
      <button mat-flat-button color="primary" type="submit" [disabled]="formRef.invalid">Sign Up</button>
    </div>
  </form>
</div>
