<!-- <mat-toolbar color="primary" class="mat-elevation-z4 toolbar">
  <span class="flex-auto">
    <button mat-icon-button routerLink="/">
      <img class="icon" src="/favicon.ico" />
    </button>
    EDISON
  </span>
  <span class="flex-auto w-1/2"></span>
  <span class="flex-auto">
    <button *ngIf="!isLogin" mat-flat-button color="account" routerLink="/accounts/enter">Sign In</button>
    <span class="mr-2"></span>
    <button *ngIf="!isLogin" mat-flat-button color="account" routerLink="/accounts/create">Sign Up</button>
    <button mat-icon-button *ngIf="isLogin" (click)="onClickSignout()">
      <mat-icon color="account">exit_to_app</mat-icon>
    </button>
  </span>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side" opened style="width: 240px">
    <mat-nav-list>
      <mat-list-item routerLink="/">Home</mat-list-item>
      <mat-list-item routerLink="/dashboard">Dashboard</mat-list-item>
      <mat-list-item routerLink="/txs">Transactions</mat-list-item>
      <mat-list-item routerLink="/txs/buy">Buy Token</mat-list-item>
      <mat-list-item routerLink="/txs/sell">Sell Token</mat-list-item>
      <mat-list-item routerLink="/chats">Chats</mat-list-item>
      <mat-list-item routerLink="/accounts/account">Account Info</mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container> -->

<mat-toolbar color="primary">
  <span class="flex-auto">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <button mat-icon-button [routerLink]="'/'">
    <img src="/favicon.ico" />
  </button>
  <button mat-button [routerLink]="'/'"><h1>EDISON</h1></button>
  <span class="flex-auto"></span>
  <button *ngIf="!isLogin" mat-flat-button color="account" routerLink="/accounts/enter">Sign In</button>
  <span class="mr-2"></span>
  <button *ngIf="!isLogin" mat-flat-button color="account" routerLink="/accounts/create">Sign Up</button>
  <button mat-icon-button *ngIf="isLogin" (click)="onClickSignout()">
    <mat-icon color="account">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100vh - 64px)">
  <mat-sidenav mode="over" #sidenav>
    <mat-nav-list>
      <mat-list-item routerLink="/" (click)="sidenav.close()">
        <span>Home</span>
      </mat-list-item>
      <mat-list-item routerLink="/dashboard" (click)="sidenav.close()">
        <span>Dashboard</span>
      </mat-list-item>
      <mat-list-item routerLink="/txs" (click)="sidenav.close()">
        <span>Transactions </span>
      </mat-list-item>
      <mat-list-item routerLink="/txs/buy" (click)="sidenav.close()">
        <span>Buy Token</span>
      </mat-list-item>
      <mat-list-item routerLink="/txs/sell" (click)="sidenav.close()">
        <span>Sell Token</span>
      </mat-list-item>
      <mat-list-item routerLink="/chats" (click)="sidenav.close()">
        <span>Chats</span>
      </mat-list-item>
      <mat-list-item routerLink="/accounts/account" (click)="sidenav.close()">
        <span>Account Info</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
