<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <mat-card class="mb-20">
    <mat-card-title>Account Detail</mat-card-title>
    <mat-list>
      <ng-container *ngIf="studentAccount === null; then loading; else loadedStudent"></ng-container>
      <ng-template #loading>
        <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-template>
      <ng-template #loadedStudent>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">User ID:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ studentAccount?.id }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Display Name:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ studentAccount?.name }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Room ID:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ studentAccount?.room_id }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <!-- <mat-list-item class="flex flex-wrap">
          <span class="break-all">Payment Method:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ studentAccount?.payment_method }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">XRP Address:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ studentAccount?.xrp_address }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider> -->
      </ng-template>
      <ng-container *ngIf="user === null; then loading; else loadedUser"></ng-container>
      <ng-template #loadedUser>
        <!-- <mat-list-item class="flex flex-wrap">
          <span class="break-all">User ID:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ user?.uid }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Display Name:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ user?.displayName }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider> -->
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Email Address:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ user?.email }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Account Verified:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">
            <ng-container *ngIf="!user?.emailVerified; then empty; else exist"></ng-container>
            <ng-template #exist>
              <mat-chip-list>
                <mat-chip color="primary" selected>Verified</mat-chip>
              </mat-chip-list>
            </ng-template>
            <ng-template #empty>
              <mat-chip-list>
                <mat-chip color="warn" selected>Unverified</mat-chip>
              </mat-chip-list>
            </ng-template>
          </span>
        </mat-list-item>
      </ng-template>
    </mat-list>
  </mat-card>

  <mat-card class="mb-20">
    <mat-card-title>Balance</mat-card-title>
    <ng-container *ngIf="balances === null; then loading; else loadedBalance"></ng-container>
    <ng-template #loadedBalance>
      <mat-list>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Amount SPX:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ balances?.amount_spx }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">Amount UPX:</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ balances?.amount_upx }}</span>
        </mat-list-item>
      </mat-list>
    </ng-template>
  </mat-card>

  <mat-card class="mb-20">
    <mat-card-title>Monthly Payments</mat-card-title>
    <ng-container *ngIf="monthlyPayments === null; then loading; else loadedPayment"></ng-container>
    <ng-template #loadedPayment>
      <mat-list>
        <ng-container *ngFor="let monthlyPayment of monthlyPayments">
          <mat-divider [inset]="true"></mat-divider>
          <mat-list-item class="flex flex-wrap">
            <span class="break-all">{{ monthlyPayment.year }}/{{ monthlyPayment.month }}:</span>
            <span class="flex-auto break-all"></span>
            <span class="break-all">{{ monthlyPayment.amount_jpy }} JPY</span>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </ng-template>
  </mat-card>
</div>
