<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <mat-card class="mb-20">
    <mat-card-title>Administrator Menu</mat-card-title>
    <div class="flex mt-10">
      <div class="flex-auto"></div>
      <div class="flex-auto">
        <button mat-flat-button color="accent" routerLink="/admin/dashboard">Admin Dashboard</button>
      </div>
      <div class="flex-auto">
        <button mat-flat-button color="primary" routerLink="/admin/xrpl">Admin XRP Ledger</button>
      </div>
    </div>
  </mat-card>
</div>
