<h2 class="text-center">Transaction Detail</h2>
<mat-card>
  <mat-list>
    <ng-container *ngFor="let transaction of transactions">
      <ng-container *ngIf="transaction.id === txHash; then loaded; else loading"></ng-container>
      <ng-template #loaded>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item class="flex flex-wrap">
          <span class="flex-auto w-1/3 break-all">Transaction Hash:</span>
          <span class="flex-auto w-1/3 break-all"></span>
          <span class="flex-auto w-1/3 break-all">{{ transaction.id }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="flex-auto w-1/3 break-all">Transaction Status:</span>
          <span class="flex-auto w-1/3 break-all"></span>
          <ng-container *ngIf="transaction.status === true; then accept; else reject"></ng-container>
          <ng-template #accept>
            <mat-chip-list class="flex-auto w-1/3 break-all">
              <mat-chip color="primary" selected>Accepted</mat-chip>
            </mat-chip-list>
          </ng-template>
          <ng-template #reject>
            <mat-chip-list class="flex-auto w-1/3 break-all">
              <mat-chip color="warn" selected>Rejected</mat-chip>
            </mat-chip-list>
          </ng-template>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="flex-auto w-1/3 break-all">Energy Type:</span>
          <span class="flex-auto w-1/3 break-all"></span>
          <ng-container *ngIf="transaction.denom === 'spx'; then solar; else utility"></ng-container>
          <ng-template #solar>
            <span class="flex-auto w-1/3 break-all">Solar Power</span>
          </ng-template>
          <ng-template #utility>
            <span class="flex-auto w-1/3 break-all">Utility Power</span>
          </ng-template>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="flex-auto w-1/3 break-all">Transaction Sender:</span>
          <span class="flex-auto w-1/3 break-all"></span>
          <span class="flex-auto w-1/3 break-all">{{ transaction.sender_account_id }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="flex-auto w-1/3 break-all">Transaction Recipient:</span>
          <span class="flex-auto w-1/3 break-all"></span>
          <span class="flex-auto w-1/3 break-all">{{ transaction.recipient_account_id }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>

        <mat-list-item class="flex flex-wrap">
          <span class="flex-auto w-1/3 break-all">Amount:</span>
          <span class="flex-auto w-1/3 break-all"></span>
          <span class="flex-auto w-1/3 break-all">{{ transaction.amount }} {{ transaction.denom }}</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-template>
      <ng-template #loading></ng-template>
    </ng-container>
  </mat-list>
</mat-card>
