<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <ng-container *ngIf="studentAccount === null; then loading; else loadedStudent"></ng-container>
  <ng-template #loading>
    <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
  </ng-template>
  <ng-template #loadedStudent>
    <ng-container *ngIf="chat === null; then loading; else loadedChat"></ng-container>
    <ng-template #loadedChat>
      <ng-container *ngIf="studentAccount?.id == chat?.user1_id; then user1; else user2"></ng-container>
      <ng-template #user1>
        <h2>Chat with {{ chat?.user2_name }}</h2>
      </ng-template>
      <ng-template #user2>
        <h2>Chat with {{ chat?.user1_name }}</h2>
      </ng-template>
    </ng-template>
    <mat-card class="mb-10">
      <mat-card-title>Title: {{ chat?.title }}</mat-card-title>

      <ng-container *ngIf="messages === null; then loading; else loadedMessages"></ng-container>
      <ng-template #loadedMessages>
        <mat-nav-list>
          <ng-container *ngIf="(messages?.length || 0) > 0; then exist; else empty"></ng-container>
          <ng-template #exist>
            <mat-divider [inset]="true"></mat-divider>
            <ng-container *ngFor="let message of messages">
              <ng-container *ngIf="studentAccount?.id == message.account_id; then sender; else notSender"></ng-container>
              <ng-template #sender>
                <mat-list-item class="flex flex-wrap" routerLink="/chats/{{ chat?.id }}/{{ message.id }}">
                  <span class="flex-auto break-all"></span>
                  <span class="break-all">{{ message.text }}</span>
                </mat-list-item>
              </ng-template>
              <ng-template #notSender>
                <mat-list-item class="flex flex-wrap" routerLink="/chats/{{ chat?.id }}/{{ message.id }}">
                  <span class="break-all">{{ message.text }}</span>
                  <span class="flex-auto break-all"></span>
                </mat-list-item>
              </ng-template>
              <mat-divider [inset]="true"></mat-divider>
            </ng-container>
          </ng-template>
          <ng-template #empty>
            <p>There is no message.</p>
          </ng-template>
        </mat-nav-list>

        <form class="mt-10" (submit)="onSubmit(textRef.value)">
          <mat-form-field class="break-all w-full" appearance="fill">
            <mat-label>Input Message</mat-label>
            <input #textRef matInput type="text" [(ngModel)]="text" name="text" required />
          </mat-form-field>
          <div class="flex">
            <div class="flex-auto"></div>
            <div class="flex-auto">
              <button mat-flat-button color="primary" (click)="onClickDelete()">Close Chat</button>
            </div>
            <div class="text-center">
              <button mat-flat-button color="accent">Send</button>
            </div>
            <div class="flex-auto"></div>
          </div>
        </form>
      </ng-template>
    </mat-card>
  </ng-template>
</div>
