<view-dashboard
  [balance]="balance$ | async"
  [balanceData]="balanceData$ | async"
  [totalBalanceData]="totalBalanceData$ | async"
  [insufficiency]="insufficiency$ | async"
  [amountUPX]="amountUPX$ | async"
  [amountSPX]="amountSPX$ | async"
  [amountInsufficiency]="amountInsufficiency$ | async"
  [totalUsage]="totalUsage$ | async"
  [totalUsageAverage]="totalUsageAverage$ | async"
  [usageData]="usageData$ | async"
  [rankings]="rankings$ | async"
  [rank]="rank$ | async"
  [singlePriceNormal]="singlePriceNormal$ | async"
  [singlePriceNormalDate]="singlePriceNormalDate$ | async"
  [singlePriceRenewable]="singlePriceRenewable$ | async"
  [singlePriceRenewableDate]="singlePriceRenewableDate$ | async"
></view-dashboard>
