<view-dashboard
  [balanceData]="balanceData$ | async"
  [totalBalanceData]="totalBalanceData$ | async"
  [uupxAmount]="uupxAmount$ | async"
  [uspxAmount]="uspxAmount$ | async"
  [insufficiencyAmount]="insufficiencyAmount$ | async"
  [latestUsage]="latestUsage$ | async"
  [withdrawDate]="withdrawDate$ | async"
  [totalUsage]="totalUsage$ | async"
  [totalUsageAverage]="totalUsageAverage$ | async"
  [rankings]="rankings$ | async"
  [rank]="rank$ | async"
  [co2Rank]="co2Rank$ | async"
  [normalSettlement]="normalSettlement$ | async"
  [normalDate]="normalDate$ | async"
  [normalSettlements]="normalSettlements$ | async"
  [normalChartDataSets]="normalChartDataSets$ | async"
  [normalChartDates]="normalChartDates$ | async"
  [normalChartOptions]="normalChartOptions$ | async"
  [renewableSettlement]="renewableSettlement$ | async"
  [renewableDate]="renewableDate$ | async"
  [renewableChartDataSets]="renewableChartDataSets$ | async"
  [renewableChartDates]="renewableChartDates$ | async"
  [renewableChartOptions]="renewableChartOptions$ | async"
  [normalOperationBids]="normalOperationBids$ | async"
  [normalOperationAsks]="normalOperationAsks$ | async"
  [renewableOperationAsks]="renewableOperationAsks$ | async"
  [warning]="warning$ | async"
  [lastMonthDataSource]="lastMonthDataSource$ | async"
></view-dashboard>
