<div class="w-full lg:mx-auto lg:w-1/3 lg:mt-10">
  <h1>Administrator Dashboard</h1>
  <mat-card class="mt-10 mb-20">
    <mat-card-title>All Account Balance</mat-card-title>
    <ng-container *ngIf="totalBalanceData === null; then loading; else loadedTotalBalance"></ng-container>
    <ng-template #loading>
      <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-template>
    <ng-template #loadedTotalBalance>
      <canvas baseChart [data]="totalBalanceData!" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"> </canvas>
      <div class="flex mt-10">
        <div class="flex-auto"></div>
        <div class="flex-auto">
          <button mat-flat-button color="accent" (click)="onDownloadBalance()">Downoad CSV</button>
        </div>
      </div>
    </ng-template>
  </mat-card>
  <mat-card class="mb-20">
    <mat-card-title>Latest Contract Price</mat-card-title>
    <mat-list>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all font-bold text-xl">Latest UPX Price:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all font-bold text-xl text-yellow-400">{{ singlePriceNormal?.price }} JPY</span>
      </mat-list-item>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all font-bold text-xl">Contract Amount:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all font-bold text-xl text-yellow-400">{{ singlePriceNormal?.amount }} UPX</span>
      </mat-list-item>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all font-bold text-xl">Market Date:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all font-bold text-xl text-yellow-400">{{ singlePriceNormalDate | date: 'yy/MM/dd' }}</span>
      </mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all font-bold text-xl">UPX Balance:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all font-bold text-xl text-purple-800">{{ singlePriceRenewable?.price }} JPY</span>
      </mat-list-item>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all font-bold text-xl">Contract Amount:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all font-bold text-xl text-purple-800">{{ singlePriceRenewable?.amount }} SPX</span>
      </mat-list-item>
      <mat-list-item class="flex flex-wrap">
        <span class="break-all font-bold text-xl">Market Date:</span>
        <span class="flex-auto break-all"></span>
        <span class="break-all font-bold text-xl text-purple-800">{{ singlePriceRenewableDate | date: 'yy/MM/dd' }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="mb-20">
    <mat-card-title>Available Order</mat-card-title>
    <mat-list>
      <h3>UPX Bids</h3>
      <ng-container *ngIf="!normalBids?.length">
        <p>no UPX Bid</p>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>
      <ng-container *ngFor="let normalBid of normalBids">
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">{{ normalBid.account_id }}</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-yellow-400">{{ normalBid.price }}JPY</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-yellow-400">{{ normalBid.amount }}UPX</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>
      <h3>UPX Asks</h3>
      <ng-container *ngIf="!normalAsks?.length">
        <p>no UPX Ask</p>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>
      <ng-container *ngFor="let normalAsk of normalAsks">
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">{{ normalAsk.account_id }}</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-yellow-400">{{ normalAsk.price }}JPY</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-yellow-400">{{ normalAsk.amount }}UPX</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>
      <mat-divider [inset]="true"></mat-divider>

      <h3>SPX Bids</h3>
      <ng-container *ngIf="!renewableBids?.length">
        <p>no SPX Bid</p>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>
      <ng-container *ngFor="let renewableBid of renewableBids">
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">{{ renewableBid.account_id }}</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-purple-800">{{ renewableBid.price }}JPY</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-purple-800">{{ renewableBid.amount }}UPX</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>

      <h3>SPX Asks</h3>
      <ng-container *ngIf="!renewableAsks?.length">
        <p>no SPX Ask</p>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>
      <ng-container *ngFor="let renewableAsk of renewableAsks">
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">{{ renewableAsk.account_id }}</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-purple-800">{{ renewableAsk.price }}JPY</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all text-purple-800">{{ renewableAsk.amount }}UPX</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card>

  <mat-card class="mb-20">
    <mat-card-title>Usage Ranking</mat-card-title>
    <mat-list>
      <ng-container *ngFor="let ranking of rankings; let i = index">
        <mat-list-item class="flex flex-wrap">
          <span class="break-all">{{ i + 1 }}</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ ranking.name }}</span>
          <span class="flex-auto break-all"></span>
          <span class="break-all">{{ ranking.amount }}kWh</span>
        </mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card>

  <mat-card class="mb-20">
    <mat-card-title>Monthly Electricity Usages</mat-card-title>
    <ng-container *ngIf="totalUsageData === null; then loading; else loadedUsage"></ng-container>
    <ng-template #loadedUsage>
      <p>kWh</p>
      <canvas
        baseChart
        [datasets]="totalUsageData!"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </ng-template>
  </mat-card>
</div>
