<div class="form">
  <h1>KyotoUniv-SIC Electoric Power Exchange</h1>
  <h1>Functions</h1>
    <ul>
      <li><div class="button-panel"><input class="button" routerLink="/accounts" value="Accounts"></div>
        <ol>
          <li><div class="button-panel"><input class="button" routerLink="/accounts/account" value="Account Info"></div></li>
          <li><div class="button-panel"><input class="button" routerLink="/accounts/create" value="Sign Up"></div></li>
          <li><div class="button-panel"><input class="button" routerLink="/accounts/enter" value="Log In"></div></li>
        </ol>
      </li>
      <li><div class="button-panel"><input class="button" routerLink="/txs" value="Transactions"></div>
        <ol>
          <li><div class="button-panel"><input class="button" routerLink="/txs/tx" value="Transaction Detail"></div></li>
          <li><div class="button-panel"><input class="button" routerLink="/txs/buy" value="Buy Electoricity"></div></li>
          <li><div class="button-panel"><input class="button" routerLink="/txs/sell" value="Sell Electoricity"></div></li>
        </ol>
      </li>
      <li><div class="button-panel"><input class="button" routerLink="/messages" value="Messages List"></div>
        <ol>
          <li><div class="button-panel"><input class="button" routerLink="/messages/message" value="Message Detail"></div></li>
        </ol>
      </li>
    </ul>
</div>
