<body>
  <h2 class="mb-2 px-2 text-xl">KyotoUniv-SIC Electoric Power Exchange</h2>
  <h2 class="mb-2 px-2 text-xl">Functions:</h2>
  <ul>
    <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/accounts">Accounts</button></p>
    <li>
      <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/accounts/account">Account Info</button></p>
      <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/accounts/create">Sign Up</button></p>
      <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/accounts/enter">Log In</button></p>
    </li>
    <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/txs">Transactions</button></p>
    <li>
      <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/txs/tx">Transaction Detail</button></p>
      <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/txs/buy">Buy Electoricity</button></p>
      <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/txs/sell">Sell Electoricity</button></p>
    </li>
    <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/messages">Messages</button></p>
    <li>
      <p><button class="ml-2 p-2 rounded text-white bg-blue-500" routerLink="/messages/message">Message Detail</button></p>
    </li>
  </ul>
</body>
